In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/yuki-f/Downloads/code.csv', usecols=[0, 7, 8])

In [3]:
df.head()

,p_ID,block-type,param1
0,10519701,whenIReceive,POWNE!!!!
1,10519701,say:duration:elapsed:from:,its a magic powne flying through the sky on a ...
2,10519701,broadcast:,SKY HIE!
3,10519701,whenIReceive,SKY HIE!
4,10519701,say:duration:elapsed:from:,Shoot it down!

In [4]:
len(df)

36085654

In [5]:
data = df

In [6]:
# マウスが押された をフィルタ
exId = data[data["block-type"].str.contains("mousePressed", na=False)]

In [7]:
len(exId)

54079

In [8]:
# キーが押された をフィルタ
exId = exId.append(data[data["block-type"].str.contains("keyPressed:", na=False)])

In [9]:
len(exId)

345736

In [10]:
# マウスのy座標 をフィルタ
exId = exId.append(data[data["block-type"].str.contains("mouseY", na=False)])

In [11]:
len(exId)

367771

In [12]:
# キーが押されたとき をフィルタ
exId = exId.append(data[data["block-type"].str.contains("whenKeyPressed", na=False)])

In [13]:
len(exId)

662542

In [14]:
# このスプライトがクリックされたとき をフィルタ
exId = exId.append(data[data["block-type"].str.contains("whenClicked", na=False)])

In [15]:
len(exId)

860884

In [16]:
# へ向ける　へ行く　に触れた　までの距離　をフィルタ
exId = exId.append(data[data["param1"].str.contains("_mouse_", na=False)])

In [17]:
len(exId)

959060

In [18]:
# と聞いて待つ　をフィルタ
exId = exId.append(data[data["block-type"].str.contains("doAsk", na=False)])

In [19]:
len(exId)

1025910

In [20]:
# マウスのx座標 をフィルタ
exId = exId.append(data[data["block-type"].str.contains("mouseX", na=False)])

In [21]:
len(exId)

1053231

In [22]:
# exIdのコピーを保持しておく
copyExId = exId

In [23]:
# 除外対象の作品idの重複を削除
exId = exId.drop_duplicates(subset="p_ID")

In [24]:
len(exId)

138059

In [25]:
copyData = data

In [26]:
# データセットの作品idの重複を削除
copyData = copyData.drop_duplicates(subset="p_ID")

In [27]:
# 各作品idが重複している回数をカウント（各作品で使われているブロック数）
count = data["p_ID"].value_counts()

In [28]:
count.head()

98739466    34622
98843276    30753
99551288    29378
99793278    27308
98847542    27308
Name: p_ID, dtype: int64

In [29]:
# 使われているブロックが５つ以下の作品idリスト
countedIds = list(count[count<=5].keys())

In [30]:
len(countedIds)

24581

In [31]:
# 除外対象の作品idと一致するidの作品をデータセットから削除
drop_index = []

for i in exId["p_ID"]:
    drop_index.append(copyData.index[copyData["p_ID"] == i])

In [32]:
for i in countedIds:
    drop_index.append(copyData.index[copyData["p_ID"] == i])

In [33]:
len(drop_index)

162640

In [34]:
import itertools

In [35]:
drop_index = list(itertools.chain.from_iterable(drop_index))

In [36]:
filteredData = copyData.drop(drop_index)

In [37]:
filteredData.head()

          p_ID     block-type             param1
0     10519701   whenIReceive          POWNE!!!!
9     10541430  whenGreenFlag                NaN
94    10942522   whenIReceive  Its time for THUD
676   12256407  whenGreenFlag                NaN
1782  14125270  whenGreenFlag                NaN

In [157]:
len(filteredData)

77868

In [158]:
# filteredDataのコピーを取っておく
copyFilteredData = filteredData

In [159]:
filteredData = filteredData.drop("block-type",axis=1)

In [160]:
filteredData = filteredData.drop("param1",axis=1)

In [161]:
filteredData.head()

          p_ID
0     10519701
9     10541430
94    10942522
676   12256407
1782  14125270

In [162]:
len(filteredData)

77868

In [163]:
filteredData.to_csv("./new/filteredPrjId.csv")

In [169]:
filteredData[0:46041].to_csv("./new/dataset.csv")